<a href="https://colab.research.google.com/github/juwoncozyboy/Data-Structure/blob/main/python2_1_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 자료구조와 알고리즘
## 1.1 자료구조란?
* data structure
* 데이터를 어떻게 저장하고, 어떻게 꺼낼지에 대한 구조적인 정의
 * 값 1개만 저장하자
 * 값을 저장하려면 대입연산자 앞에다 변수, 대입연산자 뒤에다 저장할 값을 쓰자
* 선형자료구조
 * 여러개의 값을 저장하고 싶은데 앞 뒤의 관계가 1:1이 되도록 저장하자
 * 리스트,스택, 큐...
* 비선형구조
 *여러개의 값을 저장하고 싶은데 앞 뒤 관계가 1:n 혹은 n:m이 되도록 저장하자

# 2. 함수
* 코드를 재사용 하기 위해서 사용한다(100줄 짜리 코드를 일일이 필요할때마다 작성하는 것이 아니라 a라는 이름으로 만들어 놓고, 나중에 a ()사용하게되면 알아서 100줄이 실행 되도록)

##2.1 함수에서 중요한 세가지
1. 인자(argument, 함수를 사용할때 소괄호 안쪽에 써주는 값들)의 갯수와 타입
2. 함수의 동작
3. 함수 사용 결과 값이 무슨 타입일까

In [ ]:
# 매개변수로 함수를 사용할때 인자의 갯수를 정의하고
# : 안의 코드로(들여쓰기 되어있는 코드)함수의 동작을 정의하고
# 함수 사용 결과가 어떤 값인지 정의하지 않으면 기본적으로 none이라는 값이 되어버린다
#그렇다면 함수 ㅅ용결과가 어떤 값인지 어떻게 정의할까?---> return을 사용한다
def a(pram,pram2):
 print('a 함수가 실행되었습니다')
 print(f'pram 변수에 들어있는 값은 {pram}입니다')
 print('지금도 a 함수가 실행중입니다')

name='김주원'

res = a(10,20)

res = 'none'
print(res)

a(10,20)
print('--------------')
a('김주원',100)

a 함수가 실행되었습니다
pram 변수에 들어있는 값은 10입니다
지금도 a 함수가 실행중입니다
none
a 함수가 실행되었습니다
pram 변수에 들어있는 값은 10입니다
지금도 a 함수가 실행중입니다
--------------
a 함수가 실행되었습니다
pram 변수에 들어있는 값은 김주원입니다
지금도 a 함수가 실행중입니다

In [ ]:
def b(num1, num2):
  print(f'첫번째 매개변수에는 {num1}가 들어있어요')
  print(f'두번째 매개변수에는 {num2}가 들어있어요')
  print(f'두 수를 더한 값은 {num1+num2} 입니다')
  return num1+num2
res = b(10,20)
print(res)
print(b(50,100))

첫번째 매개변수에는 10가 들어있어요
두번째 매개변수에는 20가 들어있어요
두 수를 더한 값은 30 입니다
30
첫번째 매개변수에는 50가 들어있어요
두번째 매개변수에는 100가 들어있어요
두 수를 더한 값은 150 입니다
150

##2.2 기본매개변수
* 기본 매개변수는 반드시뒤에서 부터 차례로 작성해야 한다



```
def f1(a, b = 기본값, c = 기본값):

```
* 사용할 때 기본 매개변수로 지정된 곳에는 인자값을 넘겨줄 필요가 없다


```
# a에는 10이 대입 b,c에는 기본값이 대입됨
f1(10)
```
* b와 c 기본 매개 변수에는 순서로 인자를 대입할 수 있다



```
# a에는 10이 대입 b에는 15,c에는 기본값이 대입됨
f1(10,15)
```


```
# a에는 10이 대입 b에는 기본값 c에는 15
f1(10,c=15)
```

In [ ]:
def getTotal(n=0,m = 100):
  total = 0
  for i in range(n, m+1):
    total +=i

  return total

In [ ]:
res = getTotal()
print(f'총합:{res}')

총합:5050

In [ ]:
n= int(input('더하기 시작할 숫자 :'))
m= int(input('더하기 끝낼 숫자 :'))

getTotal(n,m)

더하기 시작할 숫자 :10
더하기 끝낼 숫자 :15
결과는 75입니다

In [ ]:
res =getTotal(12,15)
print(f'총합:{res}')

In [ ]:
if getTotal(20,30) % 3 == 0:
  print('3의 배수')
else:
  print('3의 배수 아님..!')

3의 배수 아님..!

## 2.3 가변매개변수
* 함수를 정의할 때 매개변수앞에다가 *를 붙인다
* *이 붙은 매개변수는 여러개의 요소가 들어있는 튜플이 들어온다고 생각한다

In [ ]:
def f1(*a,normal, b='ddd', c='ccc'): #(가변, 일반, 기본)#
  print(f'매개변수에 들어있는 값은 {a}입니다!')
  print(f'매개변수 속 값의 타입:{type(a)}입니다')
  for i in a:
    print(i)

  print(f'b: {b}')
  print(f'c: {c}')

In [ ]:
f1(10,normal=20,b=30,c=40)

매개변수에 들어있는 값은 (10,)입니다!
매개변수 속 값의 타입:<class 'tuple'>입니다
10
b: 30
c: 40

##2.4 키워드 매개변수

In [ ]:
# dict 를 전달받는다 일반매개변수, 기본매개변수는 **키워드 앞쪽에 사용
def f2(normal,b='ddd', c='ccc' **a,):
  print(f'매개변수 a: {a}')
  print(f'매개변수 normal:{normal}')

SyntaxError: ignored

In [ ]:
f2(10,ccc=10, aaa=15, b='김주원')

매개변수 a: {'ccc': 10, 'aaa': 15}
매개변수 normal:10

In [ ]:
#formatStr('저의 이름은 {name}입니다', name='김주원')
#함수사용 결과는 '저의 이름은 배상엽 입니다' 라는 문자열이 return 될 수 있도록
#formatStr('만나서 반값습니다 오늘은 {month}월 {day}일 입니다', month=10, day=5)
#함수 사용 결과는 '만나서 반갑습니다 오늘은 10월 5일입니다'라는 문자열이 return
# target : '저의 이름은 {name}입니다'
# kargs = {'name' : '김주원'}
def formatStr(target, **kargs):
  #res = target.replace('name', kargs['name']) #kargs에는 딕셔녀리로 들어가있음
  res = target
  for key in kargs:
    res = res.replace('{' + key + '}', kargs[key])
  return res

# 문자열 안에서 특정 문자열을 특정 문자열로 바꾸는 방법

In [ ]:
a = formatStr('내이름은 {myName}이고 동생은 {broName}', myName = '김주원',broName = '김주투' )
print(a)

내이름은 김주원이고 동생은 김주투

#3. 함수의 return
* 함수사용 결과가 어떤 값이 되는지 설명하는 명령어
* return이 없다면 함수 사용결과는 기본적으로 None 값이다 (return None)이 생략 되있는것
* return값이 명시적으로 쓰여있다면 함수 사용 결과를 return옆에 있는 값으로 치환해서 생각한다

## 3.1 함수의 return이 여러개가 될 수 있을까?

In [ ]:
def a():
  return 100, '김주원', '손흥민', 80 #파이썬만 있는 특징

In [ ]:
print(a())
print(type(a()))

v1, v2, v3, v4 = a()
for i in a():
  print(i)

(100, '김주원', '손흥민', 80)
<class 'tuple'>
100
김주원
손흥민
80

#4. 변수의 생명주기
* 변수를 언제 사용할 수 있을까? (변수가 메모리에 할당되고 메모리에서 해제되는 시기)

* 지역변수
  * 지역(함수)안에서 생성된 변수, 그 지역 (함수내부)안에서만 사용 가능하다
  * 함수가 호출(실행)될때 메모리에 할다외고 함수 호출이 끝나면(실행완료) 메모리에서 해제된다
* 전역변수 (global variable)
  * 전체 영역에서 사용 가능하며 함수 외부에 만들어진 변수 = 어디에서든 사용 가능하다

In [ ]:
def f():
  localV = '변수' #f함수 안에서만 사용가능

In [ ]:
f()
print(localV) #localV는 f라는 함수가 실행될때 메모리에 저장되고, 실행이 다 끝나면 메모리에서 해제되어 사용불가

In [ ]:
def f():
  print(globalV)

In [ ]:
globalV = '김주원'
f() #자기영역엔 없지만 전체영역에 있는것을 출력

김주원

In [ ]:
# 함수 안에다가 만든 변수(매개변수 포함)들은 함수가 실행되는 동안에만 잠시 사용되는
#임시 저장공간이므로 변수이름이 마구 겹쳐도 상관이 없게 된다..(같은 영역에서만 겹치지 않으면 된다)
def f():
  #print(f'f함수 내부에서 출력한 a (a)')
  a = 1000 #전역변수를 바꾸는게 아니라 무조건 지역변수를 새롭게 만들어주게 설정
  print(f'f함수 내부에서 출력한 두번째 a {a}')
def change(a):
  a = a + 100

In [ ]:
a=10
change(a) #호출하면 사라짐
print(f'전역 에서 출력한 a {a}')
f()
print(f'f함수 실행 후 출력한 a {a}')

전역 에서 출력한 a 10
f함수 내부에서 출력한 두번째 a 1000
f함수 실행 후 출력한 a 10